body {
    font-family: sans-serif;
    text-align: center;
}

#app {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}
