<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Agent_Commission_Checker.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Agent_Commission_Checker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Agent_Commission_Checker.Settings>
            <setting name="StaffAgents" serializeAs="String">
                <value>Drex
Wakiboi8381
Maika
Chotoy
MarioCacao
rexpasaway03
Vic0511
jeff11
michaelpesigan08@outlook.com
michaelpesigan08@gmail.com
victeam
macario747
chotz_747
747jepoy747
admindrex
wakiboi@747
rex@747
adminmabait
cmenrey
cmbadong747
admin747
</value>
            </setting>
            <setting name="AgentCookie" serializeAs="String">
                <value />
            </setting>
            <setting name="Endpoint" serializeAs="String">
                <value>https://agents.747.casino</value>
            </setting>
            <setting name="BridgeAuth" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="BackofficeAuth" serializeAs="String">
                <value />
            </setting>
            <setting name="BridgeAuthSynch" serializeAs="String">
                <value>14ef2255-182b-4474-844f-e1e6e151c822</value>
            </setting>
            <setting name="CreatorName" serializeAs="String">
                <value />
            </setting>
            <setting name="SkipRootCount" serializeAs="String">
                <value>1</value>
            </setting>
        </Agent_Commission_Checker.Settings>
        <Agent_Commission_Checker.Properties.Settings>
            <setting name="StaffAgents" serializeAs="String">
                <value>Drex
Wakiboi8381
Maika
Chotoy
MarioCacao
rexpasaway03
Vic0511
jeff11
michaelpesigan08@outlook.com
michaelpesigan08@gmail.com
victeam
macario747
chotz_747
747jepoy747
admindrex
wakiboi@747
rex@747
adminmabait
cmenrey
cmbadong747
admin747
</value>
            </setting>
            <setting name="AgentCookie" serializeAs="String">
                <value />
            </setting>
            <setting name="Endpoint" serializeAs="String">
                <value>https://agents.747.casino</value>
            </setting>
            <setting name="BridgeAuth" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="BackofficeAuth" serializeAs="String">
                <value />
            </setting>
            <setting name="BridgeAuthSynch" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
        </Agent_Commission_Checker.Properties.Settings>
    </userSettings>
</configuration>